*.DS_Store
*.pyc
**/logs	
**/.ipynb_checkpoints
**/__pycache__
**/env/
**/.vscode/
docs/
data/*
!data/.gitkeep
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
predictions/training/*
predictions/test/*
!predictions/training/.gitkeep
!predictions/test/.gitkeep
secret.txt
